@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --background: #e1edea;
    --calculator-background: rgb(169, 163, 165);
    --calculator-border: #36302f;
    --display-background: #f3f3f3 ;
    --display-text: #000000;
    --display-border: #36302f;
    --button-border: #36302f;
    --button-text: #f0f0f0;
    --magic: #00AA9E;
    --magic-hover: #008279;
    --magic-active: #015953;
    --clear: #DE0029;
    --clear-hover: #ae0222;
    --clear-active: #820119;
    --number: #326DB3;
    --number-hover: #265288;
    --number-active: #1c3c64;
    --operator: #F3C202;
    --operator-hover: #d1a802;
    --operator-active: #a38302;

}

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

html {
    min-height: 100%;
    position: relative;
  }

body {
    background-color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 500px;
    margin-top: 25px;
    margin-bottom: 80px;
}

#calculator {
    width: 400px;
    /* height: 520px; */
    height: auto;
    border: var(--calculator-border) solid 4px;
    background-color: var(--calculator-background);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#display {
    border-radius: 10px;
    background-color: var(--display-background);
    color: var(--display-text);
    /* height: 100px; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 10px 0;
    padding: 10px 45px;
    border: 2px solid var(--display-border);
}

#display-previous {
    height: 50px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: right;
    font-size: 20px;
    overflow-wrap: break-word;
    padding-top: 15px;
}

#display-current {
    /* height: 50px; */
    max-width: 240px;
    text-align: right;
    overflow-wrap: break-word;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; */
}

button {
    height: 60px;
    /* width: 40px; */
    border-radius: 5px;
    margin: 2px 2px;
    border: solid 2px var(--button-border);
    text-align: center;
    vertical-align: middle;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    color: var(--button-text);
}


#backspace,
#clear {
    background-color: var(--clear);
}

#backspace:hover,
#clear:hover {
    background-color: var(--clear-hover);
}

#backspace:active,
#clear:active {
    background-color: var(--clear-active);
}

.magic-button {
    background-color: var(--magic);
}

.magic-button:hover {
    background-color: var(--magic-hover);
}

.magic-button:active {
    background-color: var(--magic-active);
}

.number-button {
    background-color: var(--number);
}

.number-button:hover {
    background-color: var(--number-hover);
}

.number-button:active {
    background-color: var(--number-active);
}

.operator-button {
    background-color: var(--operator);
}

.operator-button:hover {
    background-color: var(--operator-hover);
}

.operator-button:active {
    background-color: var(--operator-active);
}

#numbers-operators-container {
    display: flex;
}

#operators {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 40%;
}

#numbers {
    display: flex;
    flex-direction: column;
    width: 60%;
}

/* .number-disabled {
    background-color: rgba(128, 128, 128, 0.581);
}

.operator-disabled {
    background-color: ;
} */

#top-row {
    display: flex;
}

.numbers-row {
    display: flex;
}

.operators-row {
    display: flex;
}

#sign {
    font-size: 18px;
}

#n0 {
    flex: 2.3;
}

#dot {
    flex: 1;
}

.operators-row-last {
    display: flex;
    flex: 1;
}

#add {
    height: auto;
}

#subtract-equals-container {
    display: flex;
    flex-direction: column;
}

#subtract,
#equals {
    width: 67px;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }



/* MEDIA QUERIES */
  @media (max-width: 1200px) {
    /* body {
      justify-content: center;
    } */
  }
  
  @media (max-width: 850px) {
    /* body {
      gap: 50px;
    }
  
    #options {
      width: 150px;
      gap: 16px;
    }
  
    #gridSizeText {
      margin-bottom: -4px;
    }
  
    #etch-a-sketch {
      width: 400px;
      height: 400px;
    }
  } */
  
  @media (max-width: 650px) {
    /* #header {
      font-size: 50px;
    }
  
    #content {
      flex-direction: column-reverse;
    }
  
    #etch-a-sketch {
      width: 300px;
      height: 300px;
    } */
  }